Delete Method not supporting Method Body

I am using RestSharp version 103.2.0.0 , 
I am passing id in the method body for delete method and when i verified this in fiddler  I didn't find any body, now instead of deleting the data respective to that Id, it is deleting all the rows in table as the Id is not passing, i.e it is ignoring complete body.

could you please suggest how could i pass this id in the method body, do we have any new version which supports this method body.


Based on RFC, Delete method should NOT support body. Based on RS source, only POST, PUT, PATCH and MERGE methods are working with body. So, to your issue, just pass your parameters in url.

are you planning to resolve this issue in any upcoming version or is it resolved in any of the version above 103.2.0.0

I think you didn't understand. It is NOT an issue. RS works flawlessly.
YOU are doing it wrong. YOU must change your server side to accept parameter from URL (GET) not body (POST).

I understand it will accept only from URL (GET) , but by chance is there any version above 103.2.0.0 which supports the body(POST) , is the RS planning to support the body for delete method

I can't answer as I'm not RS contributor, but because this is against RFC, I can expect answer will be NO.

So, what are you trying to do? If your app is accepting body in delete method, it is against HTTP 1.1 RFC so you should overhaul it or return to dev to do so.

Sending a payload with a `DELETE` request isn't strictly against the RFC, but it's not a good idea. From [RFC 7231, section 4.3.5](https://tools.ietf.org/html/rfc7231#section-4.3.5) (obsoletes RFC 2616):

> A payload within a DELETE request message has no defined semantics; sending a payload body on a DELETE request might cause some existing implementations to reject the request.

Unless you can guarantee that there won't be any proxies or inspecting firewalls in the network path, it's safest not to add a payload to a DELETE request.

Looks like the DOCS does not mention about DELETE:
RequestBody does not work on GET or HEAD Requests, as they do not actually send a body.